.input-container{
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.input-label{
    font-size: 0.75rem;
    font-weight: 400;
    color: hsl(213, 96%, 18%);
}

.real-input{
    padding:0.5rem 0.75rem;
    border-radius: 0.25rem;
    border:1px solid hsl(229, 24%, 87%);
}

@media (min-width:48rem)  {
}

@media (min-width:64rem) {
    .input-label{
            font-size: 0.75rem;
        }
}