.step-container-main{
    padding:1.5rem 1.25rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    margin:0 1rem;
}

h1{
    display: inline-block;
    margin: 0;
    padding:0;
    color:hsl(213, 96%, 18%);
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    font-weight: 700;
    width: fit-content;
}

h6{
    display: inline-block;
    margin: 0;
    padding:0;
    color: hsl(231, 11%, 63%);
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 1rem;
    width: fit-content;

}

@media (min-width:48rem)  {
    .step-container-main{
        margin:0;
    }
}

@media (min-width:64rem) {
    .step-container-main{
        margin:0
    }
}