.freq-toggle{
    padding-block: .5rem;
    background-color: var(--color-magnolia);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    column-gap: 1rem;
}

.freq-toggle span{
    font-size: .75rem;
    font-weight: 500;
}

.freq-toggle span:first-child{
    color: var(--color-marine-blue);
}

.freq-toggle span:last-child{
    color: var(--color-alabaster);
}

.plans-container{
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

@media (min-width:64rem){
    .plans-container{
        flex-direction: row;
        column-gap: 0.75rem;
    }

    .select-plan-card{
        flex-direction: column;
        row-gap: 2rem;
        flex-basis: 100%;
    }
}